
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --yellow: #e9c744;
    --black: #000000;
    --white:#fefefe;
}

section{
    height:20vh;
}
h1,h2,h3,h4,h5,h6,span,p,button{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
}
main{
    background-color: var(--yellow) ;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10rem;
    

}
.text-container{
    width:50%;
    text-align: center;
    margin-top: 20px;
    
}

img{
    width:50%;
    height: 50%;
    transform: translateY(-10vh);
    padding: 0 30px;
    box-sizing: border-box;
    transition: all 0.3 ease-in-out;

}
img:hover{
    transform: translateY(-10vh) scale(1.1);
}
.text-container > h1{
    font-size: xxx-large;
    
}
.text-container h6{
    font-size: small;
    line-height: 1.3rem;
}
.underline{
    text-decoration: underline;
    
}
button{
    background-color: var(--black);
    color: var(--white);
    border: none;
    padding: 5px 40px;
    text-transform:uppercase;
    font-size: x-small;
    letter-spacing: 1.5pt;
    cursor: pointer;
    transition: all 0.3 ease-in-out;
    border: 1px solid var(--black);
}
button:hover{
background-color:var(--yellow);
color: var(--black);
border: 1px solid var(--black);
}

@media screen and (min-width:1200px) and (max-width:1500px){
main {
    padding: 0 3rem;

}

} 
@media screen and (min-width:200px) and (max-width:1200px){
    main {
        padding: 0 3rem;
    
    }
    img{
        width: 100%;
    }
    
    .text-container{
        width: 100%;
        margin-top: 0px;
    }
    } 

    @media screen and (max-width:450px) {
        main {
            padding: 0 3rem;
        
        }
        img{
            width: 100%;
        }
        .text-container{
            width: 100%;
            margin-top: 0px;
        }
        
        } 